<%- include ../../partials/admin_layout/header.ejs %>
<%- include ../../partials/admin_layout/sidebar.ejs %>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

  <!-- Main content -->
  <section class="content">
    <div class="row">

      <div class="col-xs-12">
        <div class="box">
          <!-- /.box-header -->
          <div class="box-header">
            <h3 class="box-title">Perhitungan Fuzzy</h3>
          </div>

          <div class="box-body">
            <form action="">
              <div class="form-body">


                <div class="col-md-4">

                  <div class="form-group">
                    <label for="inputDatepickerTglLahir">Dari Tanggal</label>
                    <div class="input-group date">
                      <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                      </div>
                      <input type="date" required name="tanggal_persediaan" class="form-control pull-right"
                        id="inputDatepickerTglLahir" />
                    </div>

                  </div>
                </div>
                <div class="col-md-4">

                  <div class="form-group">
                    <label for="inputDatepickerTglLahir">Sampai Tanggal</label>
                    <div class="input-group date">
                      <div class="input-group-addon">
                        <i class="fa fa-calendar"></i>
                      </div>
                      <input type="date" required name="tanggal_persediaan" class="form-control pull-right"
                        id="inputDatepickerTglLahir" />
                    </div>

                  </div>
                </div>
                <div class="col-md-1">

                  <!-- <button class="btn btn-success">Tambah</button> -->
                  <button style="margin-top: 22px;" type="button" class="btn btn-success" data-toggle="modal"
                    data-target="#add_modal">
                    <!-- <span class="glyphicon glyphicon-plus"></span> -->
                    Hitung
                  </button>
                </div>
                <div class="col-md-3">

                  <div class="form-group">
                    <label for="jumlah">Prediksi Persediaan Hari Besok</label>
                    <input type="number" id="jumlah" name="jumlah" class="form-control" placeholder="132" required>
                  </div>
                </div>
              </div>
            </form>


            <!-- include table -->
            <table id="barang" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>No</th>
                  <th>Tanggal</th>
                  <th>Produksi</th>
                  <th>Permintaan</th>

                  <th>Jumlah Persediaan</th>

                </tr>
              </thead>
              <tbody>
                <% for (let i = 0; i < produksi.length; i++ ) { %>
                <tr>
                  <td><%= i + 1 %></td>
                  <td><%= produksi[i].tanggal %></td>
                  <td><%= produksi[i].produksi %></td>
                  <% if (produksi[i].permintaan === "" || produksi[i].permintaan === null ) { %>
                  <td>0</td>
                  <% } else { %>
                  <td><%= produksi[i].permintaan %></td>
                  <% } %>
                  <td><%= produksi[i].jumlah_persediaan %></td>
                </tr>
                <% } %>
              </tbody>
            </table>


          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </section>
  <!-- /.content -->
</div>

<!-- include add modal -->


<%- include ../../partials/admin_layout/footer.ejs %>
<!-- page script -->
<script>
  $(document).ready(function () {
    $('#barang').DataTable();
  });

</script>