<table id="barang" class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>No</th>
      <th>Tanggal</th>
      <th>Produksi</th>
      <th>Permintaan</th>

      <th>Jumlah Persediaan</th>

    </tr>
  </thead>
  <tbody>
    <% for (let i = 0; i < produksi.length; i++ ) { %>
    <tr>
      <td><%= i + 1 %></td>
      <td><%= produksi[i].tanggal %></td>
      <td><%= produksi[i].produksi %></td>
      <% if (produksi[i].permintaan === "" || produksi[i].permintaan === null ) { %>
      <td>0</td>
      <% } else { %>
      <td><%= produksi[i].permintaan %></td>
      <% } %>
      <td><%= produksi[i].jumlah_persediaan %></td>
    </tr>
    <% } %>
  </tbody>
</table>